<div class="order-container">
    @for (order of orders; track $index) {
        <div class="order">
            <div class="order-header" (click)="openedOrderId = openedOrderId === order.id ? -1 : order.id">
                <span>#{{order.id}}</span>
                <span>{{order.orderDate}}</span>
                <span>{{order.sumPrice}} Ft</span>
            </div>
            <div class="order-details" [style]="{'display': order.id === openedOrderId ? 'block' : 'none'}">
                <ul>
                    @for (item of order.orderItems; track $index) {
                        <li>
                            <span>{{item.productName}}</span>
                            <span>{{item.sumPrice}}</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    
</div>